* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a.nav-link {
  color: #fff;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
}

a.nav-link:hover {
  color: #f4f4f4;
  border-bottom: 2px solid #fff;
}

.skill-icon-holder {
  width: 80px;
  height: 80px;
  background-color: #41a4f5;
  padding-top: 20px;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
